<div class="form">
    <form action="/books" method="post" enctype="multipart/form-data">
        <h2>Dodaj nową książkę</h2>
        <input type="text" name="title" placeholder="tytuł">
        <input type="text" name="author" placeholder="autor">
        <input type="text" name="year" placeholder="rok">
        <input type="text" name="description" placeholder="opis">
        <input type="file" name="bookCover" accept="image/*">
        <input type="submit" value="Dodaj książkę">
        <p class="message">{{message}}</p>
    </form>
</div>

<div class="lastBooks books">
    {{#each lastBooks}}
    <div class="book">
        <img src="uploads/{{this.img}}" alt="{{this.title}}">
        <p>{{this.title}}</p>
        <p>{{this.author}}</p>
        <p>{{this.description}}</p>
    </div>
    {{/each}}
</div>