{{>modal}}

{{>bestBooks}}

{{!-- <button class="btn">Jakiś tam przycisk</button> --}}

{{!-- <h2>Ostatnio dodane</h2> --}}

{{!-- <div class="lastBooks books">
    {{#each lastBooks}}
        <div class="book">
            <img src="uploads/{{this.img}}" alt="{{this.title}}">
            <p>{{this.title}}</p>
            <p>{{this.author}}</p>
            <p>{{this.description}}</p>
        </div>
    {{/each}}
</div> --}}


<script src="js/home.js"></script>