<h1>Strona główna</h1>

<style>
  img{
    max-width: 100px;
  }
</style>

<h2>Najbardziej polularne propozycje</h2>

<div class="bestBooks">
    {{#each bestBooks}}
        <div class="book">
            <img src="image/books/{{this.img}}" alt="{{this.title}}">
            <p>{{this.title}}</p>
            <p>{{this.author}}</p>
            <p>{{this.description}}</p>
        </div>
    {{/each}}
</div>

<h2>Ostatnio dodane</h2>

<div class="lastBooks">
    {{#each lastBooks}}
        <div class="book">
            <img src="image/books/{{this.img}}" alt="{{this.title}}">
            <p>{{this.title}}</p>
            <p>{{this.author}}</p>
            <p>{{this.description}}</p>
        </div>
    {{/each}}
</div>
<script src="js/home.js"></script>